<!DOCTYPE html>
<link rel="stylesheet" href="static/main.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>

<body>
  <title>Main Page</title>

  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/courses">List of all courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Own Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </nav>
  </div>

  <div>
      <div class="header">
         <h3>All courses</h3>
      </div>
      <br>
      <h4>List of all courses:</h4>
      <div class="list">
         <ul>
             {% for course in courses %}
                 <li><b>{{course.name}}</b>. Go to course page: <a href="/courses/{{course.id}}">Click here</a></li>
	     {% endfor %}
         </ul>
      </div>

      {% if admin %}
          <form action="/add_course">
              <input type="submit" value="Create new cource" class="button5">
          </form>
      {% endif %}

  </div>

</body>


