<!DOCTYPE html>
<link rel="stylesheet" href="../static/main.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>


<title>{{course.name}}</title>


<body>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/courses">List of all courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Own Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
  </nav>
</div>

<div class="header2">
  <h3>Question page</h3>
</div>
<div>
    {% if task.multiple_choice %}
      {% if choice_answer %}
         <h4>You have aswered this question. Question was:</h4>
         <p>{{task.text_question}}</p>

        <br>

	<h4>You answered:</h4>
	<p>{{choice_answer}}</p>

        <br>

	<h4>Question was {{is_correct}} answered.</h4>
        <br>
          
      {% else %}
       <br>
       <h4>{{task.text_question}}</h4>
       <br>
       <form action="/add_choice_answer" method="POST">
       {% for choice in all_choices %}
	<input type="radio" name="answer" value="{{ choice.id }}"> {{ choice.choice_text }} <br>
        {% endfor %}
	  <input type="submit" value="Send answer">
	  <input type="hidden" name="task_id" value="{{ task.id }}">
	  <input type="hidden" name="course_id" value="{{ course.id}}">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
       </form>
      {% endif %}

     {% else %}
	{% if answer %}
        <div>
	<br>
  	   <h4> You have answered question. Question was:</h4>
           <p>{{task.text_question}}:</p>
           
           <br>

           <h4>You answered:</h4>
	   <p>{{answer.content}}</p>
           
           <br>
        </div>
       {% else %}
        <br>
	<form action="/add_answer" method="POST" onsubmit="return check(this)">
         <h4>{{task.text_question}}</h4>
         
         <input type= "hidden" name="topic" value="{{task.text_question}}">
         <textarea name="content" rows="5" cols="60"> </textarea>
         <input type= "hidden" name="task_id" value={{task.id}}>
         <input type= "hidden" name="course_id" value= {{course.id}}>
         <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
         <input type="submit" value="Send">
         </form>
      {% endif %}
  {% endif %}
    <br>
    <a href="/courses/{{course.id}}">Go back to course page</a>

</div>
</body>

<script>
function check(form) {

        if (form.content.value.length > 100) {
                alert("Text content is too long. Should be at most 2000 characters");
                return false;
        }

        if (form.content.value.length < 10) {
                alert("Text content is too short. Should be at least 10 characters");
                return false;
        }

        return true;
}

</script>

