<!DOCTYPE html>
<link rel="stylesheet" href="../static/main.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>




<title>{{course.name}}</title>

<body>

<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/courses">List of all courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Own Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
  </nav>

</div>


  <div class="header2">
     <h4>Student answers to question "{{task.text_question}}"</h4>
  </div>

    {% if all_answers %}
        
        {% for answer in all_answers %}
	    <p>Student <b>{{answer.username}}</b> answered:</p>
            <p>{{answer.content}}</p>
            <br>
        {% endfor %}

    {% endif %}

    {% if all_choice_answers%}
         
         {% for answer2 in all_choice_answers %}
            <p>Student <b>{{answer2.username}}</b> answered:</p>
            <p>{{answer2.choice_text}}</p>
            <br>
         {% endfor %}

    {% endif %}

  <br>
  <a href="/courses/{{course.id}}">Go back to course site</a>

  </div>
</div>
</body>
